server:
  port: 8083

spring:
  application:
    name: gateway-predicate2
  cloud:
    gateway:
      routes:
        - id: after_route
#          uri: http://jd.com:80/
#          predicates:
            #- After=2019-08-01T14:47:27.373+08:00[Asia/Shanghai]
            #- Before=2019-08-02T15:07:12.552+08:00[Asia/Shanghai]
            #- Between=2019-08-01T15:31:48.377+08:00[Asia/Shanghai],2019-08-02T15:32:48.379+08:00[Asia/Shanghai]
            #- Cookie=chocolate,ch.p
            #- Header=X-request-id,lft
            #- Host=**.jd2.com:8083
            #- Method=GET
            #-  Query=q,a
            #- RemoteAddr=127.0.0.1
            #- AddRequestHeader=X-Request-Foo, Bar
            #- AddRequestParameter=foo, bar

#            - Path=/jd/test/**
#          filters:
#            - StripPrefix=2


          uri: http://localhost:8081/hystrix?isSleep=true
          predicates:
            - Path=/test/hystrix
          filters:
            - name: Hystrix
              args:
                name: fallbackcmd
                fallbackUri: forward:/fallback
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: '*'
  security:
    enabled: false
