spring:
  cloud:
    config:
      server:
        git:
          uri: https://gitee.com/lifutian/{application}
          search-paths: BOOK
  application:
    name: config-server
server:
  port: 9090
logging:
  level:
    root: debug
