spring:
  application:
    name: gateway


server:
  port: 9000
logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.ipc.netty: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: '*'
  security:
    enabled: false