spring:
  application:
    name: eureka

server:
  port: 8761


eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/erueka/
    register-with-eureka: false
    fetch-registry: false
