server:
  port: 9099
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/RyzeUserName/CONFIG-BOOK
          search-paths: BOOK
  application:
    name: config-server