server:
  port: 8073
spring:
  application.name: client
eureka:
  instance:
    metadata-map.zone: zone3
  client:
    region: region-west
    service-url:
      zone3: http://localhost:8763/eureka/
      zone4: http://localhost:8764/eureka/
    availability-zones:
      region-east: zone3,zone4
    prefer-same-zone-eureka: true