server:
  port: 5555
spring:
  application:
    name: zuul
eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
zuul:
  routes:
    client-a:
      path: /client/**
      serviceId: client-a
  add-host-header: true
  retryable: true #开启重试
ribbon:
  MaxAutoRetries: 1#同一个服务的重试次数（除去第一次）
  MaxAutoRetriesNextServer: 1 #切换相同服务器的数量
