server:
  port: 9091
alpha:
  server:
    host: 0.0.0.0
    port: 9090
spring:
  application:
    name: saga-alpha-server
  h2:
    console:
      enabled: true
  jpa:
    show-sql: false
    database-platform: org.eclipse.persistence.platform.database.H2Platform
  datasource:
    url: jdbc:mysql://localhost:3306/sage?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&allowMultiQueries=true&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    continue-on-error: false
    schema: classpath:db/schema.sql
    #    data: classpath:db/data.sql
    initialization-mode: always
    type: org.apache.tomcat.jdbc.pool.DataSource
#  datasource:
#    username: saga
#    password: password
#    url: jdbc:postgresql://192.168.99.100:5432/saga?useSSL=false
#    platform: postgresql