server:
  port: 8011
spring:
  application:
    name: client-consumer
eureka:
  client:
    service-url:
      defalutZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
feign:
  hystrix:
    enabled: true