spring:
  application:
    name: order-service
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:mysql://localhost:3306/order?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&allowMultiQueries=true&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    continue-on-error: false
    initialization-mode: always
    type: org.apache.tomcat.jdbc.pool.DataSource
management:
  endpoints:
    web:
      exposure:
        include: '*'