server:
  port: 9090
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/RyzeUserName/springcloud/tree/master/CONFIG-BOOK
          search-paths: CONFIG-BOOK
  application:
    name: config-server