server:
  port: 9090
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/RyzeUserName/springcloud.git
          search-paths: config-info
  application:
    name: config-server