server:
  port: 9090
spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/RyzeUserName/springcloud
          search-paths: config
  application:
    name: config-server