spring:
  application:
    name: zuul-server


server:
  port: 7777
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  security:
    enabled: true
  endpoints:
    web:
      exposure:
        include: hystrix.stream
feign:
  hystrix:
   enabled: true



zuul:
  ribbon-isolation-strategy: thread
  thread-pool:
    thread-pool-key-prefix: zuulgateway
    use-separate-thread-pools: true
  host:
    max-per-route-connections: 200
    max-total-connections: 500
    socket-timeout-millis: 5000
    connect-timeout-millis: 10000


ribbon:
  ConnectTimeout: 6000
  ReadTimeout: 6000
  MaxAutoRetries: 0 #对第一次请求的服务的重试次数
  MaxAutoRetriesNextServer: 0 #要重试的下一个服务的最大数量（不包括第一个服务）
  OkToRetryOnAllOperations: false

hystrix:
  threadpool:
    default:
      coreSize: 20
      maximumSize: 50
      maxQueueSize: -1
      allowMaximumSizeToDivergeFromCoreSize: true
  command:
    default:
      execution:
        timeout:
          enabled: false
        isolation:
          thread:
            interruptOnTimeout: false
            timeoutInMilliseconds: 15000
