server:
  port: 7070
spring:
  application:
    name: client-a
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
      file-size-threshold: 1MB #当上传的文件达到1MB的时候进行磁盘写入
      location: / #上传的临时目录
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

