spring:
  application:
    name: zuul-server


server:
  port: 7777
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  security:
    enabled: true
  endpoints:
    web:
      exposure:
        include: hystrix.stream



